* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #497285;
}

.fa-envelope-o {
  color: white;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  margin: 30px;
}

a {
  color: white;
}

a:hover {
  color: black;
  opacity: 0.75;
  text-decoration: none;
}

.fa {
  color: white;
}

.fa:hover {
  color: black;
}

.fa:visited {
  color: #283739;
}

.intro-box {
  margin-top: -45px;
  margin-bottom: 10px;
  padding: 50px;
  width: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b4450+0,497285+100 */
  background: #2b4450; /* Old browsers */
  background: -moz-linear-gradient(top,  #2b4450 0%, #497285 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2b4450 0%,#497285 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2b4450 0%,#497285 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b4450', endColorstr='#497285',GradientType=0 ); /* IE6-9 */
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
}

.skills-box {
  background-color: #497285;
  margin-top: -20px;
  padding: 20px 10% 60px 10%;
}

.skills-box h2 {
  padding-top: 10px;
}

.progress {
  margin: 20px;
}

.portfolio-box {
  margin-top: -20px;
  margin-bottom: 60px;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-thumb {
  border-radius: 5px;
  margin: 25px 15px;
  width: 400px;
}

footer p {
  margin: 10px;
}

.caption {
  margin-top: -10px;
  color: black;
}

.shadow {
  color: #FA4659;
  text-shadow: 1px 1px 3px black;
}

.project-block img {
  box-shadow: 3px 3px 5px black;
}

.container-fluid {
  max-width; 800px:
}

/* .back-to-top {
  display: inline;
} */

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.column-left {
  width: 300px;
}

.column-right {
  width: 400px;
}

.contact-stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}


button {
  background-color: #F73859;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  font-family: 'Nunito', sans-serif;
  color: white;
  box-shadow: 2px 2px 4px black;
}


/********************** navbar *****************************/
.navbar-default {
    background-color: #2b4450;
    border: none;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}




/* Media Queries */

@media only screen
  and (max-device-width: 600px) {
    h1 {
      font-size: 2.4em;
    }
  }

  and (min-device-width: 800px) {

  }
