.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  font-family: 'Roboto Slab', sans-serif;
}

body {
  background-color: #4593c7;
}

/************************************** navbar ************************************/
.navbar {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  position: fixed;
  padding: 25px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  transition: background-color 500ms ease-in-out, height 800ms ease-in-out, text-shadow 500ms ease-in-out;
}

.navbar a:hover {
  color: #f56268;
  transition: color 500ms ease-out;
}

.navbar-brand a {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.25em;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px;
}

.navbar.scrolled {
  text-shadow: none;
  background-color: #7d3d58;
  height: 50px;
  transition: background-color 350ms ease-in-out, height 800ms ease-in-out;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.navbar-links, .navbar-links-mobile {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar-links > a, .navbar-links-mobile > a {
  color: #fff;
}
/************************************** navbar ************************************/

/************************************  top div ******************************/
.welcome {
  position: relative;
  background: url('./images/welcome.png') no-repeat fixed center center;
  background-size: cover;
  height: 110vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name {
  color: #ff1460;
  text-shadow: 0 2px 1px #383838;
  font-size: 7em;
  font-family: 'Pacifico', cursive;
}
/************************************  top div ******************************/

/************************************  middle div ******************************/
#about {
  padding: 200px 25px;
  text-align: center;
  position: relative;
}

#about h1 {
  font-family: 'Pacifico', sans-serif;
  text-shadow: 0 2px 1px #383838;
  color: white;
  font-size: 3em;
  margin-bottom: 25px;
}

.about-intro {
  max-width: 850px;
  margin: 0 auto;
}

#about a {
  color: limegreen;
}

#about a:hover {
  color: white;
  transition: color 500ms ease-in-out;
}

.image-container {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
}

#image {
  height: 250px;
  width: 250px;
  background-image: url('images/sergio.jpg');
  background-size: cover;
  border-radius: 50%;
  border: 10px solid #4593c7;
  margin: 0 auto;
}
/************************************  middle div ******************************/


/************************ Imported Stuff from old portfolio ************************/
.projects-slant {
  background-color: #f56268;
  width: 100%;
  height: 65px;
  position: absolute;
  top: -30px;
  left: -5px;
  transform: rotate(5deg);
}

#projects {
  text-align: center;
  background-color: #f56268;
  padding: 25px 0 100px 0;
  position: relative;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

#projects h1 {
  text-shadow: 0 2px 1px #383838;
  font-size: 4em;
  color: white;
  font-family: 'Pacifico', sans-serif;
  margin-bottom: 50px;
}

.project {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 10px;
  color: black;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.project img {
  border-radius: 3px;
}

.project-text h3 {
  margin: 15px 0;
  font-size: 3em;
}

.project-text a {
  background-color: #00a2ff;
  padding: 5px 15px;
  border-radius: 500px;
  color: white;
  margin: 0 10px;
}

.project-text p {
  margin-top: 20px;
}

.project-text a:hover {
  text-decoration: none;
}

.project-links {
  margin-bottom: 10px;
}

.project, .bottom-div h1 {
  z-index: 100;
}

#social {
  background-color: #7d3d58;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#social h4 {
  color: rgba(255,255,255,0.25);
  margin-top: 40px;
}

.social-links-circle {
  width: 110%;
  height: 75px;
  background-color: #7d3d58;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

.social-links {
  display: inline-block;
  font-size: 3.5em;
  margin: 0 auto;
}

.fa {
  color: white;
  margin: 0 15px;
}

.fa:hover {
  color: #f56268;
  transition: color 500ms ease-out;
}

/**************************************** Media Queries ********************************************/

@media only screen and (max-width: 800px) {
  .name {
    font-size: 5em;
  }

  .navbar-links {
    display: none;
  }
}

@media only screen and (min-width: 825px) {
  #projects {
    display: flex;
    flex-direction: column;
  }

  .navbar-links-mobile {
    display: none;
  }
  
  .project {
    width: 370px;
  }

  .projects-slant {
    height: 80px;
    top: -35px;
    transform: rotate(3deg);
  }

  .about-intro {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1400px) {
  .projects-slant {
    transform: rotate(2deg);
  }
}