---
layout: base.njk
title: Blog
---
<header class="page-header">
  <h1 class="page-title">{{ site.title }}</h1>
  <p class="page-description">{{ site.description }}</p>
</header>

<ul class="post-list">
  {%- for post in collections.posts %}
  <li class="post-list-item">
    <time datetime="{{ post.date | isoDate }}" class="post-list-date">{{ post.date | readableDate }}</time>
    <h2 class="post-list-title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    {% if post.data.description %}
    <p class="post-list-excerpt">{{ post.data.description }}</p>
    {% endif %}
  </li>
  {%- endfor %}
</ul>

